@import "var";
@import "themes";

@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@400;600&family=Inter:wght@400;500;600&display=swap");
$anybody: "Anybody", cursive;
$inter: "Inter", sans-serif;

$regular: 400;
$medium: 500;
$semi: 600;

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $inter;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

span {
    display: block;
}

body {
    font-size: 16px;
    font-family: $inter;
    background: var(--body);
    color: var(--text);
    transition: 0.2s linear;
    position: relative;
}

.container {
    padding: 0 1rem;
    display: flex;
}

.btn-azul {
    font-family: $anybody;
    font-weight: $semi;
    color: #fff;
    background: $main-blue;
    padding: 16px 26px 12px;
    border-radius: 4px;
}

button {
    font-size: 1rem;
    font-family: $poppins;
    border: none;
    background: none;
    cursor: pointer;
}

.titulo {
    font-family: $anybody;
    font-weight: $semi;
    color: var(--titulo);
}

p {
    line-height: 1.75;
}

header {
    position: fixed;
    padding: 1rem 0;
    background: var(--body);
    width: 100%;
    top: 0;
    z-index: 3;
    transition: 0.3s ease-in-out;

    &.scroll {
        box-shadow: 0 0 10px rgba(0, 37, 92, 0.09);
        transition: 0.3s ease-in-out;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #logo {
            display: flex;
            max-width: 100px;
        }

        #toggleMenu {
            width: 44px;
            height: 44px;
            z-index: 3;

            div {
                width: 40px;
                height: 6px;
                margin: 0 auto;
                border-radius: 1px;
                background: $main-blue;
                transition: all 0.2s ease-in-out;
                position: relative;
                display: flex;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 6px;
                    border-radius: 2px;
                    background: $main-blue;
                    transition: all 0.2s ease-in-out;
                }

                &::before {
                    transform: translateY(-14px);
                    display: block;
                }

                &::after {
                    transform: translateY(14px);
                    display: block;
                }
            }

            &.ativo {
                div {
                    transform: translateX(-50px);
                    background: transparent;

                    &::before {
                        transform: rotate(45deg) translate(35px, -35px);
                    }
                    &::after {
                        transform: rotate(-45deg) translate(35px, 35px);
                    }
                }
            }
        }

        #aside {
            position: absolute;
            right: 0;
            top: 78px;
            width: 260px;
            height: calc(100vh - 70px);
            background: var(--body);
            padding: 64px 22px 22px;
            transform: translateX(260px);
            transition: 0.3s all ease-in-out;

            &.ativo {
                transform: translateX(0);
                transition: 0.3s all ease-in-out;
                box-shadow: -5px 23px 20px rgba(50, 50, 50, 0.06);
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 36px;

                li {
                    width: fit-content;
                }

                #theme {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 1px solid var(--text);
                    background-image: url("../img/icons/moon.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 58%;

                    &.ativo {
                        background-image: url("../img/icons/sun.svg");
                        background-size: 72%;
                    }
                }
            }
        }
    }
}

.data-nome {
    display: flex;
    font-size: 0.875rem;

    span {
        display: flex;
        align-items: center;
        font-weight: $medium;
        color: var(--question-info) !important;

        &.nome::before {
            content: url("../img/icons/nome.svg");
            margin-right: 8px;
        }

        &.data::before {
            content: url("../img/icons/data.svg");
            margin-right: 8px;
        }

        .autor {
            margin-left: 6px;
            font-weight: $semi;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;

    label {
        display: block;
        margin-bottom: 1rem;
        font-weight: $medium;
    }

    input,
    textarea {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
        border: 1px solid #14336d5e;
        border-radius: 4px;
        padding: 8px;
        font-size: 1rem;
        color: $preto;
    }
}

footer {
    padding: 1.1rem 0;
    box-shadow: 0 0 10px rgba(0, 37, 92, 0.09);

    .container {
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: $semi;
            color: var(--copy);
        }
    }

    #backtop {
        position: fixed;
        right: 16px;
        bottom: 32px;
        width: 40px;
        height: 40px;
        padding-top: 4px;
        z-index: 3;
        background: $main-blue;
        border-radius: 4px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        &.show {
            bottom: 54px;
            visibility: visible;
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }

        &::before {
            padding-top: 2px;
            width: 32px;
            height: 32px;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
        }

        span {
            position: absolute;
            left: -9999px;
        }
    }
}
