$main-blue: #0070f0;

:root {
    --body: #fff;
    --text: #000b18;
    --main-title: #0b305a;
    --banner: #e0e8f0;
    --banner-text: #002248;
    --banner-info: #000B18;
    --titulo: #001f43;
    --question-info: #61778f;
    --responder: #005ac0;
    --borda: #E0E8F0;
    --copy: #004390;
    --btn-voltar: #5938D9;
    --popup-overlay: rgba(234, 240, 245, 0.5);
    --vermelho: #EB0010;

    .btn-voltar svg path {
        fill: var(--btn-voltar);
    }

    .responder svg {
        path {
            fill: var(--responder);
        }
    }
}

.escuro {
    --body: #000b18;
    --text: #ccc;
    --main-title: #cce2fc;
    --banner: #001630;
    --banner-text: #b2d4fa;
    --banner-info: #a3b3c5;
    --titulo: #b2d4fa;
    --question-info: #8099b3;
    --responder: #338df3;
    --borda: #113C6F;
    --copy: #338DF3;
    --btn-voltar: #8B75E3;
    --popup-overlay: rgba(0, 34, 72, 0.5);
    --vermelho: #F50010;

    svg {
        #preto * {
            fill: var(--text);
        }
    }

    .banner svg {
        circle {
            fill: var(--banner);
        }

        path {
            fill: var(--banner-text);
        }
    }

    .responder svg {
        path {
            fill: var(--responder);
        }
    }

    .btn-voltar svg path {
        fill: var(--btn-voltar);
    }
}
