@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');
$poppins: 'Poppins', sans-serif;

$medium: 500;
$semi: 600;
$bold: 700;

$preto: #19212D;
$info: #283852d0;
$azul: #1070FF;
$azul2: #0f3f88;
$branco: #ffffff;