@import "global";
@import "themes";

main {
    padding-top: 132px;
    color: var(--text);
    margin-bottom: 40px;

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .main {
            margin-bottom: 20px;

            span {
                text-transform: uppercase;
                font-weight: $semi;
                font-size: 12px;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;

                &::before {
                    content: url("../img/icons/comment.svg");
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }
            }

            h1 {
                font-size: 2.25rem;
                font-family: $anybody;
            }

            p {
                margin: 16px 0 36px;
            }

            a {
                width: fit-content;
                padding: 20px 32px 16px;
            }
        }

        @keyframes animateBubbles {
            from {
                background-position: 11% 60%;
                opacity: 0;
            }
            to {
                background-position: 11% 30%;
                opacity: 1;
            }
        }

        @keyframes animateMan {
            from {
                transform: translateY(72px);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .main-image {
            position: relative;
            z-index: 2;
            margin-top: 40px;
            width: 300px;
            display: flex;
            justify-content: flex-end;
            background-image: url("../img/bubble.svg");
            background-repeat: no-repeat;
            animation: animateBubbles 3s ease-in-out forwards;

            img {
                max-width: 220px;
                transform: translateY(72px);
                animation: animateMan 1.5s ease-in-out forwards;
            }
        }
    }
}

.perguntas-info {
    margin-bottom: 44px;

    .container {
        flex-direction: column;
        gap: 24px;

        span {
            font-weight: 500;
        }

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media only screen and (min-width: 1300px) {
        margin-bottom: 64px;
    }
}

.lista-perguntas {
    margin-bottom: 2.8rem;

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;

            li {
                width: 100%;
                max-width: 620px;
                border-radius: 4px;
                box-shadow: 0px 5px 14px rgba(0, 37, 92, 0.08);
                border: 1px groove #0f3f8836;

                &:not(:last-of-type) {
                    margin-bottom: 2rem;
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 20px 16px;
                    // color: $preto;

                    .descricao {
                        margin: 16px 0 20px;
                    }

                    hr {
                        color: rgba(0, 37, 92, 0.2);
                        margin-bottom: 20px;
                    }
                }

                @media only screen and (min-width: 1300px) {
                    max-width: 800px;
                }
            }
        }
    }
}
