@import "var";

main {
    padding: 5rem 0 2.75rem;
    background: #00255c;
    color: $branco;
    margin-bottom: 40px;

    .container {
        flex-direction: column;
        align-items: flex-start;

        .main {
            margin-bottom: 20px;

            p {
                margin-top: 12px;
            }
        }

        img {
            align-self: center;
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 7rem 0 3rem;

        .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .main {
                max-width: 450px;
            }
        }
    }

    @media only screen and (min-width: 1300px) {
        padding: 8rem 0 4rem;

        .container {
            .main {
                max-width: 650px;

                p {
                    font-size: 20px;
                }
            }
    
            img {
                width: 360px;
            }
        }
    }
}

.perguntas-info {
    margin-bottom: 44px;

    .container {
        flex-direction: column;
        gap: 24px;

        span {
            font-weight: 500;
        }

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media only screen and (min-width: 1300px) {
        margin-bottom: 64px;
    }
}

.lista-perguntas {
    margin-bottom: 2.8rem;

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;

            li {
                width: 100%;
                max-width: 620px;
                border-radius: 4px;
                box-shadow: 0px 5px 14px rgba(0, 37, 92, 0.08);
                border: 1px groove #0f3f8836;
                
                &:not(:last-of-type) {
                    margin-bottom: 2rem;
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 20px 16px;
                    color: $preto;

                    .descricao {
                        margin: 16px 0 20px;
                    }

                    hr {
                        color: rgba(0, 37, 92, 0.2);
                        margin-bottom: 20px;
                    }
                }

                @media only screen and (min-width: 1300px) {
                    max-width: 800px;
                }
            }
        }
    }
}
