@import "global";
@import "themes";

section:not(.wrapper) {
    padding-top: 111px;

    .container {
        flex-direction: column;
    }
}

.data-nome {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 24px 0;

    img {
        width: 42px;
        height: 42px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .autor {
            font-size: 1rem;
            font-weight: $semi;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .descricao {
        line-height: 1.5;
        max-width: 670px;
        padding-left: 8px;
    }

    .pergunta {
        padding: 32px 20px;

        h2 {
            word-wrap: break-word;
            max-width: 100%;
        }
    }

    .responder {
        padding: 20px;

        form {
            display: flex;
            flex-direction: column;

            input[name="autorRes"],
            input[name="autorPic"] {
                display: none;
            }

            textarea {
                margin-bottom: 1rem;
            }
        }
    }

    @media only screen and (min-width: 1366px) { 
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
}

.respostas {
    padding: 32px 20px;

    .titulo {
        font-size: 1.125rem;
        margin-bottom: 24px;
    }

    ul {
        li {
            padding-top: 36px;
            border-top: 1px solid var(--borda);

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--borda);
                padding-bottom: 36px;
            }
        }
    }
}
