    <footer>
        <div class="container">
            <p class="guiaperguntas">Guia <span>Perguntas</span></p>
            <p>2022 &copy;</p>
        </div>
        <button id="backtop"><span>back to top</span></button>
    </footer>
</body>
<script src="/js/script.js"></script>
</html>
