<div id="popup">
    <div class="bloco">
        <p class="titulo">Deseja escolher um nome de usuário?</p>
        <div class="choices">
            <button id="accept">Sim, quero um nome de usuário</button>
            <input type="text" placeholder="Digite seu nome de usuário..." id="username" autocomplete="off">
            <button id="deny">Não, quero ficar anônimo</button>
        </div>
        <span class="warning">Escolha com cuidado. Você não poderá mudar seu nome de usuário depois.</span>
        <button id="confirm">Confirmar</button>
    </div>
</div>