<div id="popup">
    <div class="bloco">
        <p class="titulo">Deseja escolher um nome de usuário?</p>
        <span class="warning">Escolha com cuidado. Você não poderá mais mudar seu nome de usuário.</span>
        <div class="choices">
            <button id="accept">Sim, quero um nome de usuário</button>
            <button id="deny">Não, quero ficar anônimo</button>
        </div>
        <input type="text" placeholder="Digite seu nome de usuário..." id="username" autocomplete="off" required>
        <button id="confirm">Confirmar</button>
    </div>
</div>