<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.min.css">
    <link rel="stylesheet" href="/css/pergunta.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Não achamos nada!</title>
</head>

<body>
    <%- include ('components/header.ejs') %>

    <section style="border-bottom: none">
        <div class="container">
            <article class="branco">
                <h2>Oops! Essa pergunta não existe!</h2>
                <hr style="margin-top: 2rem;">
                <a href="/" class="cta" style="margin-top: 3rem;">Voltar para a página inicial</a>
            </article>
        </div>
    </section>
</body>

</html>