<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fallback.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Oops! Não encontramos nada!</title>
</head>

<body>
    <%- include ('components/header.ejs') %>

    <section>
        <div class="container">
            <img src="/img/fallback.png" alt="">
            <div class="go-back">
                <h2 class="titulo">Oops! Não encontramos nada!</h2>
                <p>Essa pergunta não existe. Cheque por erros de digitação.</p>
                <a href="/" class="btn-azul">Voltar ao início</a>
            </div>
        </div>
    </section>
</body>
<script src="/js/script.js"></script>

</html>