<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perguntar.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Asky - Fazer Pergunta</title>
</head>

<body>
    <%- include ('components/user-popup.ejs') %>
    <%- include ('components/header.ejs') %>

        <section>
            <div class="container">
                <a href="/" class="btn-voltar">
                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.6792 16.262C11.6792 16.6665 11.5185 17.0544 11.2325 17.3404C10.9465 17.6264 10.5586 17.7871 10.1541 17.7871C9.74963 17.7871 9.36171 17.6264 9.07566 17.3405L0.446609 10.4022C0.160645 10.1162 0 9.72825 0 9.32377C0 8.9193 0.160645 8.53138 0.446609 8.24533L9.07566 1.3071C9.36335 1.02924 9.74866 0.875488 10.1486 0.878964C10.5486 0.882439 10.9311 1.04286 11.214 1.32568C11.4968 1.60849 11.6572 1.99108 11.6607 2.39103C11.6641 2.79097 11.5104 3.17629 11.2325 3.46398L5.47555 7.9318H18.5205C19.3376 7.9318 20 8.59418 20 9.41126C20 10.2283 19.3376 10.8907 18.5205 10.8907H5.70102L11.2325 15.1836C11.5185 15.4696 11.6792 15.8575 11.6792 16.262Z"
                            fill="#5938D9" />
                    </svg>
                    Voltar</a>

                <article>
                    <h2 class="titulo">Faça uma pergunta</h2>

                    <form method="POST" action="/salvarpergunta">
                        <input type="text" type="hidden" name="autorPic" value="">
                        <input type="text" name="autorPerg" value="">

                        <div class="one">
                            <div class="bloco titulo-pergunta">
                                <label for="titulo" class="titulo">Título</label>
                                <p>Seja específico. Imagine que você está fazendo uma pergunta para outra pessoa.</p>
                                <input type="text" name="titulo" placeholder="Exemplo: Como fazer macarrão branco?" required autocomplete="off" >
                            </div>

                            <div class="bloco tip">
                                <img src="/img/icons/tip.svg" alt="">
                                <span>O título deve resumir o problema.</span>
                            </div>
                        </div>

                        <div class="two">
                            <div class="bloco descricao-pergunta">
                                <label for="descricao" class="titulo">Descrição</label>
                                <p>Diga o problema e explique o que você introduziu no título.</p>
                                <textarea cols="30" rows="8" name="descricao"
                                    placeholder="Descreva sua pergunta..." required></textarea>
                            </div>

                            <div class="bloco tip">
                                <img src="/img/icons/tip.svg" alt="">
                                <span>Explique como começou o problema que está tentando resolver, e quaisquer dificuldades que tenha encontrado.</span>
                            </div>
                        </div>

                        <button class="btn-azul">Postar pergunta</button>
                    </form>
                </article>
            </div>
        </section>
    <script src="/js/popup.js"></script>

        <%- include ('components/footer.ejs') %>