<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/listaperguntas.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Asky - Todas as Perguntas</title>
</head>
<body>
<%- include ('components/header.ejs') %>

<section class="lista-perguntas completa">
    <div class="container">
        <h2 class="titulo t-section">Todas as perguntas</h2>
        <p><%= perguntas.length%> perguntas</p>
        <ul>
            <%- include ('components/listing.ejs', {lista: perguntas}) %>
        </ul>
    </div>
</section>

<%- include ('components/footer.ejs') %>
